[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = Peter Bae
	email = pskbae@gmail.com
[push]
	default = matching
[alias]
	co = checkout
	ci = commit --verbose
    st = status
    di = diff
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[core]
	excludesfile = /Users/Peter/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
